{% extends 'base.html' %}

{% block title %}{{ news_item.title }}{% endblock %}

{% block content %}
    <h1>{{ news_item.title }}</h1>
    {% if news_item.image %}
        <img src="{{ news_item.image.url }}" alt="{{ news_item.title }}" class="news-image">
    {% endif %}
    <p>{{ news_item.content }}</p>
    <p>Автор: {{ news_item.author }}</p>
    <p>Дата публикации: {{ news_item.created_at }}</p>
    {% if user.is_superuser %}
        <a href="{% url 'news_edit' news_item.pk %}" class="button">Редактировать</a>
        <a href="{% url 'news_delete' news_item.pk %}" class="button">Удалить</a>
    {% endif %}
    <a href="{% url 'news_list' %}" class="button">Назад к списку новостей</a>
{% endblock %}
